{% load static %}

<!DOCTYPE html>
<html lang="bn">
<head>
    <!-- MetaData -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Rabiul-Islam">

    <title>{% block title %}Welcome to Rabiuls Virtual World!{% endblock %}</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'blog/img/favicon.ico' %}"/>

    <!-- Input:CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/intro.css' %}"/>
    <!-- EndInput -->
</head>

<body>
    {% block content %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
</body>
</html>