{% extends 'blog/base.html' %}


{% block content %}
    <div class="cover-wrapper">
        <div class="cover">
            <h2 class="big-txt">আহলান ওয়া সাহলান!</h2>
            <h2 class="banner-headline">রবিউল ইসলামের ভার্চুয়াল দুনিয়ায় আপনাকে স্বাগতম!</h2>
            <div>
                <ul>
                    <li><a href="http://rabiulislam993.blogspot.com/">ব্লগ</a></li>
                    <li><a href="#">যোগাযোগ</a></li>
                    <li><a href="{% url 'blog:post_detail' 'আমি' %}">আমি</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}