{% extends 'blog/base.html' %}
{% load disqus_tags %}
{% disqus_dev %}

{% block content %}
    <div class="container">
        <div class="row"> 
            <div class="col-md-6 offset-md-3">
                <h1 class="content-title">{{ post.title }}</h1>
                <p>{{ post.content|safe }} </p>



                {% disqus_show_comments %}

                <hr />
                <br />
                <br />
                {% include 'blog/snippets/nav_links.html' %}
            </div>

        </div>
    </div>
{% endblock %}