{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>All Posts</h1>

                {% for post in post_list %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <small>{{ post.created|timesince }} ago</small>
                            <p class="card-text">
                                {{ post.content|safe|truncatewords:20 }}
                            </p>

                            <a href="{% url 'blog:post_detail' slug=post.slug %}"
                               class="btn btn-outline-dark">Detail</a>
                        </div>
                    </div>
                {% endfor %}

                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}

                <hr />
                <br />
                <br />
                {% include 'blog/snippets/nav_links.html' %}

            </div>

        </div>
    </div>

{% endblock %}